@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

.cardTitle {
  width: 384px;
  height: 454px;
  display: flex;
  position: relative;
  flex-direction: row;
}

.cardTitle,
#label {
  color: #9932cc;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#plan {
  position: absolute;
  margin-top: 30px;
  color: #ededff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#price {
  position: relative;
  top: 40px;
  margin-left: 200px;
  color: #ededff;
  font-size: 14pt;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.sign {
  position: relative;
  align-items: center;
  justify-content: center;
  display: block;
  width: 100%;
  height: 65px;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 13pt;
  background-color: #9932cc;
  color: #ededff;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.frame {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 500px;
  background-color: #09092b;
  border-radius: 10px;
  padding: 35px;
  z-index: 1;
}

hr {
  margin-top: 30px;
  color: #191952;
  border: none;
  height: 2px;
  background-color: #191952;
}

.lista {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

li {
  padding-top: 30px;
  top: 100px;
  margin-top: 10px;
  gap: 1px;
  margin-left: 20px;
  font-size: 14pt;
  line-height: 0.8;
  list-style: none;
  color: #9696ac;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#plaque {
  align-items: center;
  justify-self: center;
  position: relative;
  margin: 193px;
  background-color: #f5b761;
  width: 160px;
  height: 40px;
  z-index: 2;
  text-align: center;
  align-content: center;
  font-size: 10pt;
  border-radius: 7px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
